$bg_purple: #775e86;

.nav-pills {
	li {
		a {
			&:hover {
				background-color: $bg_purple;
			}
		}
		button {
			&:hover {
				background-color: $bg_purple;
			}
		}
	}
}

.active-link {
	&:hover {
		background-color: $bg_purple;
	}
}