@import './../../styles/mediaQueries';
$menuColor: #775e86;

.header {
  background-image: linear-gradient(to top, #e0c3fc 0%, #8ec5fc 100%);
  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  // background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  // background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  @mixin header-link {
    display: flex;
    color: $menuColor;
    text-decoration: none;
    letter-spacing: 2px;
  }

  &__logo {
    @include header-link;
  }
  &__list-item {
    display: flex;
    @include sm {
      padding: 0rem 1.85rem;
    }
    @include xs {
      padding: 0rem 1.85rem;
    }
    @include lg {
      padding: 0rem 0rem;
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
    column-gap: 2px;
    flex-wrap: wrap;
  }

  &__item-link {
    @include header-link;
    
    &--is-active {
      border-bottom: solid 3px;
    }
    
    &:hover {
      border-bottom: solid 2px $menuColor;
    }
  }

}
